############################
# Maven build
############################
target/
!.mvn/wrapper/maven-wrapper.jar

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr

############################
# Logs
############################
*.log

############################
# Environment & Secrets
############################
.env
*.env
.env.*

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Java
############################
*.class

############################
# Maven wrapper
############################
mvnw.cmd
mvnw

############################
# Spring Boot
############################
application.properties
application.yml
application-dev.yml
application-prod.yml
application-*.yml
application-*.properties

############################
# Docker
############################
docker-data/
